.container{
    display: flex;
    min-width: 100%;
    width: 100%;
}

.dashboard-siderbar{
    display: flex;
    min-width: 30%;
    width: 30%;
}

.dashboard-article{
    display: flex;
    min-width: 70%;
    width: 70%;
}