<div class="card-container card-info-container">
    <div class="row row-cols-md-4">
        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <i class="fa-regular fa-newspaper card-icon"></i>
              <h5 class="card-title text-500">Articulos</h5>
              <p class="card-text">Actualmente hay {{articlesQty}} articulos</p>
            </div>
            <div class="card-footer">
                <span class="text-green font-medium">50 </span>
                <span class="text-500">articulos leidos hoy.</span>
                <!-- <span class="text-green font-medium">1.200 </span>
                <span class="text-500">types) in stock.</span> -->
            </div>
          </div>
        </div>

        <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <i class="fa-brands fa-readme card-icon"></i>
                <h5 class="card-title text-500">Lecturas</h5>
                <p class="card-text">+1500 lecturas.</p>
              </div>
              <div class="card-footer">
                <span class="text-red font-medium">1465 </span>
                <span class="text-500">articulos que aun no leiste.</span>
                </div>
            </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <i class="fa-solid fa-arrow-right-arrow-left card-icon"></i>
              <h5 class="card-title text-500">Queres compartir informacion con nosotros?</h5>
              <p class="card-text">Escribinos. Te responderemos a la brevedad para analizar el articulo que quieras editar o agregar.</p>
            </div>
            <div class="card-footer">
                <span class="text-500">Tu opinion nos interesa!</span>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card h-100">
            <div class="card-body">
              <i class="fa-solid fa-cart-shopping card-icon"></i>
              <h5 class="card-title text-500">Articulos mas leidos.</h5>
              <p class="card-text">Los articulos mas leidos corresponden a: "x Categoria"</p>
            </div>
            <div class="card-footer">
              <span class="text-blue">32 veces leido.</span>
              </div>
          </div>
        </div>

        <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <i class="fa-solid fa-cart-shopping card-icon"></i>
                <h5 class="card-title text-500">Compra los libros del autor.</h5>
                <p class="card-text">Envios a todo el mundo.
                </p>
              </div>
              <div class="card-footer">
                  <span class="text-green font-medium">5 </span>
                  <span class="text-500">productos </span>
                  <span class="text-500">en stock.</span>
                </div>
            </div>
          </div>
    </div>
</div>