<div *ngIf="article" class="card-container">

    <div class="deleteArticle">
        <span>Eliminar Articulo: </span><i (click)="deleteAlertConfirmation()" class="fa-solid fa-trash"></i>
    </div>

    <h3 class="article">{{article.category}}</h3>
    <h3  class="article">{{article.subcategory}}</h3>
    <h4 class="subarticle">{{article.secondsubcategory}}</h4>
    
    <div class="article-container" >
        <div class="text-container" innerHtml="{{article.text}}">
        </div>
    </div>
    
    

</div>
