::ng-deep .dx-htmleditor-content > * {
    text-align: justify;
    text-justify: inter-word;
}

::ng-deep .dx-htmleditor-content > p {
    font-size: 12px;
    color: rgb(32, 30, 30);
}

::ng-deep .dx-htmleditor-content > h2 {
    font-size: 14px;
    color: black; 
}

::ng-deep .dx-htmleditor-content > em {
    font-style: italic;
}


.create-titles-container{
    display: flex;
}

.create-article-container{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;

    h5{
        width: 100%;
    }
    .text-article{
        width: 90%;
    }
    .submit{
        width: 60%;
        margin: 20px;
    }
}


.card-container {
    padding: 15px 25px;
    margin-bottom: 10px;
}

.save-button{
    margin: 15px;
    width: 60%;
}

.category-form{
    display: flex;
    button{
        margin-left: 10px;
    }
    div{
        display: flex;
    }
}

.text-article{
    border: 1px solid grey;
    padding: 5px;
}