.create-titles-container{
    display: flex;
}

.create-article-container{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;

    h5{
        width: 100%;
    }
    .text-article{
        width: 90%;
    }
    .submit{
        width: 60%;
        margin: 20px;
    }
}


.card-container {
    padding: 15px 25px;
    margin-bottom: 10px;
}

.btn{
    margin-top: 5px;
}

.category-form{
    display: flex;
    button{
        margin-left: 10px;
    }
    div{
        display: flex;
    }
}


