<div class="nav-container">
    <div class="header">
        <div routerLink="/dashboard" class="logo">
            <img src="{{ logoUrl }}" alt="logo">
        </div>

        <div class="login-container">
            <div>
              <button class="login-button">Iniciar sesion</button>
              <button class="login-button" routerLink="/create">Agregar contenido</button>
            </div>

            <div>
              <input class="form-control" type="search" name="search" id="" placeholder="SEARCH">
            </div>
        </div>


    </div>
</div>

<div class="items">

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <ng-container *ngFor="let categorie of categories; index as i">
          <li class="nav-item dropdown" *ngIf="categories">
            <a class="nav-link"  role="button" aria-expanded="false" (click)="searchSubcategories(categorie.title)">
              {{categorie.title}}
            </a>
          </li>
        </ng-container>
        </ul>

      </div>
    </div>
  </nav>

</div>

