<div class="modal-header">
  <h4 class="modal-title">{{categoryName}}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="dismissModal()"></button>
</div>
<div class="modal-body">
  <div class="container card-container">
    <div class="row">
      <div class="col-lg-12 table-container">
        <dx-data-grid
          #dataGrid id="gridContainer"
          (onRowDblClick)="onRowDblClick($event)" 
          (onRowClick)="onRowClick($event)"
          [dataSource]="dataSource"
          [showRowLines]="true"
          [showBorders]="true"
          [columnAutoWidth]="true"
          [hoverStateEnabled]="true"
        >
          <dxo-selection
              mode="single">
          </dxo-selection>
          <dxo-paging [pageSize]="10"></dxo-paging>
          <dxo-pager
            [showPageSizeSelector]="true"
            [allowedPageSizes]="[10, 25, 50, 100]"
          ></dxo-pager>
          <dxo-search-panel
            [visible]="true"
            [highlightCaseSensitive]="true"
          ></dxo-search-panel>
          <dxo-filter-row [visible]="true"></dxo-filter-row>
          <dxi-column  dataField="category" caption="Categories" width="30%" cssClass="pointer-column"></dxi-column>
          <dxi-column  dataField="subcategory" caption="Subcategories" width="30%" cssClass="pointer-column"></dxi-column>
          <dxi-column dataField="secondsubcategory" caption="Second Subcategories" width="70%" cssClass="pointer-column"></dxi-column>
        </dx-data-grid> 
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="closeModal()">Select</button>
</div>





<!-- <div class="modal-header">
    <h4 class="modal-title">Categories</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismissModal()"></button>
  </div>
  <div class="modal-body">
    <div class="container card-container">
      <div class="row">
        <div class="col-lg-12 table-container">
          <dx-data-grid #dataGrid id="gridContainer" [dataSource]="dataSource" class="data-table"
            (onRowDblClick)="onRowDblClick($event)" (onRowClick)="onRowClick($event)">
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxi-column dataField="title"  caption="Subcategories" width="20%"></dxi-column>
          </dx-data-grid>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn primaryBtn" (click)="closeModal()">Select</button>
  </div> -->