<div class="info-container">

    <!-- dolar -->
  <div class="info-accordion">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            USD
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Dolar hoy</p>
      </mat-expansion-panel>
  </mat-accordion>

  </div>

  <!-- clima -->
  <div class="info-accordion">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                          (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Clima
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>Clima hoy</p>
      </mat-expansion-panel>
  </mat-accordion>

  </div>


<!-- noticias -->
<div class="info-accordion">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                        (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          NEWS
        </mat-panel-title>
      </mat-expansion-panel-header>
        <p>NOTICIAS </p>
    </mat-expansion-panel>
</mat-accordion>

</div>  


</div>
